@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skraa_events {
    clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 100%, 0 0);
  }

  .skraa {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
  }

  .skraa_02 {
    clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
  }

  .skraa_03 {
    clip-path: polygon(0 0, 0 0, 20% 100%, 0% 100%);
  }
}

@layer base {
  @font-face {
    font-family: "Neuton";
    font-weight: 400;
    src: url("/fonts/neuton_regular_400.woff2");
  }

  @font-face {
    font-family: "Limelight";
    font-weight: 400;
    src: url("/fonts/limelight_regular_400.woff2");
  }

  @font-face {
    font-family: "Fredericka";
    font-weight: 400;
    src: url("/fonts/fredericka_the_great_400.woff2");
  }
}

p {
  font-family: "Neuton", sans-serif;
}

h1 {
  font-family: "Fredericka", sans-serif;
}

h2,
h3,
h4,
h5,
a,
button {
  font-family: "Limelight", sans-serif;
}

footer a {
  font-family: "Neuton", sans-serif;
}

@media (max-width: 640px) {
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow_up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow2 {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow_up2 {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow3 {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow_up3 {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
